.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.header_links a{
  text-decoration: none;
  font-size: 24px;
  color: black;
  font-weight: 600;
}

.search_bar{
  border-radius: 15px;
  display: flex;
    border: 2px solid #8A2BE2;
    max-width: fit-content;
    padding: 5px 10px;
    margin: 20px auto; 
}